<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">

<!-- this is header-css -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<link rel="stylesheet" type="text/css" th:href="@{/css/glyph.css}"
	href="../../css/glyph.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/nanoscroller.css}" href="../../css/nanoscroller.css" />
<link rel="stylesheet" th:href="@{/lib/select2/css/select2.min.css}"
	href="../../lib/select2/css/select2.min.css" type="text/css" />
<link th:href="@{/lib/datatables/css/dataTables.bootstrap.min.css}"
	rel="stylesheet" type="text/css"
	href="../../lib/datatables/css/dataTables.bootstrap.min.css" />
<link th:href="@{/lib/datatables/css/keyTable.dataTables.min.css}"
	rel="stylesheet" type="text/css"
	href="../../lib/datatables/css/keyTable.dataTables.min.css" />	
<link rel="stylesheet"
	th:href="@{/lib/jtree/dist/themes/default/style.min.css}"
	href="../../jtree/dist/themes/default/style.min.css" type="text/css" />
<link rel="stylesheet"
	th:href="@{/css/jquery-ui.min.css}"  type="text/css" />
<link rel="stylesheet"
	th:href="@{/css/easy-autocomplete.min.css}"  type="text/css" />
<link rel="stylesheet"
	th:href="@{/css/easy-autocomplete.themes.min.css}"  type="text/css" />
 <link rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"  />
<link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />     
<link rel='stylesheet' 
    href='https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css' />
<link rel='stylesheet' 
    href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css' />
<link rel='stylesheet' 
    href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous' />
<link rel='stylesheet' 
    href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css' />
<link rel="stylesheet"
	th:href="@{/napp/newstyle.css}"  type="text/css" />
<link rel="stylesheet" 
    href="https://www.materialpalette.com/packs/styles-1483880720aae267d540dda9a1ae36d1.css" />
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../../css/style.css" type="text/css" />
	
<script type="text/javascript" 
      th:src="@{/js/cloudflare-bootstrap.min.js}"></script>
<script type="text/javascript" 
      src="webjar/jquery/2.1.4/jquery.min.js"></script> 
<script type="text/javascript" 
      src="webjar/bootstrap/3.3.7/js/bootsrap.min.js"></script> 
<script type="text/javascript" 
      th:src="@{/js/common.js}"></script>	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
</head>
<body>

	  <nav class="navbar navbar-default navbar-fixed-top am-top-header"
		th:fragment="user_header" style="margin-bottom:0px;">
</body>
</html>